<!DOCTYPE html>
<html>
  <head>
    <title>$filename</title>
    <link rel="stylesheet" type="text/css" href="$webpath/source.css" />
    <link rel="stylesheet" type="text/css" href="$webpath/tipTip.css" title="style1" media="screen" />
    <link rel="stylesheet" type="text/css" href="$webpath/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="$webpath/bootstrap/css/bootstrap-responsive.css" />
    <style>
      body {
        padding-top: 60px;   /* make the container start below the topbar. */
      }
    </style>
  </head>
  <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="#">Code</a>
        </div>
      </div>
    </div>

    <div class="container">
      <h1>$filename</h1>
      <pre><code>$code</code></pre>
    </div>

    <script src="$webpath/lib/jquery.js" type="text/javascript"></script>
    <script src="$webpath/lib/jquery.tipTip.js" type="text/javascript"></script>
    <script>
      $$(function(){
        var options = {
          maxWidth: "500px",
          delay: 100,
        };
        $$(".warning").tipTip(options);
        $$(".error").tipTip(options);
      });
    </script>
  </body>
</html>
