<html>
  <head>
    <title>$filename</title>
    <link rel="stylesheet" type="text/css" href="$webpath/source.css" />
    <script src="$webpath/lib/jquery.js" type="text/javascript"></script>
    <script src="$webpath/lib/jquery.tipTip.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="$webpath/tipTip.css" title="style1" media="screen" />
  </head>
  <script>
    $$(function(){
      $$(".warning").tipTip();
    });
  </script>
  <body>
    <pre><code>$code</code></pre>
  </body>
</html>
