body {
  background-color: white;
}
code {
  font-family: Lucida Console, Monaco, monospace;
  font-size: 11;
}
.function_decl {
}
.warning {
  background-color: #ffe699;
}
.error {
  background-color: #ff99b3;
}
